<div class="container">
	<form #todoForm= "ngForm"(submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
		<div class="form-group">
		<h1 class="text-center ">Todo App</h1>
			<div class="input-group-prepend">
			    <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" ngModel>
				<span class="input-group-text" (click)="addTodo(todo.value)">
				<i class="material-icons">add</i></span>
			</div>
		</div>
		<div class="data">
		<ul class="list-unstyled">
			<li *ngFor="let todo of todoArray">{{todo}} <i (click)="deleteItem(todo)" class="material-icons">delete</i></li>
		</ul>
	</div>
	</form>
	<button type="submit" class="btn btn-primary btn-block form-group" (click)="logout()">Logout</button>
</div>