.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
div.well{
    height: 250px;
  } 
  
  .Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  
  .Absolute-Center.is-Responsive {
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  
  #logo-container{
    margin: auto;
    margin-bottom: 10px;
    width:200px;
    height:30px;
    background-image:url('http://placehold.it/200x30/000000/ffffff/&text=BRAND+LOGO');
  }